* {
  margin: 0;
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.sub-navbar {
  padding: 10px;
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;
}

.navbar button {
  margin-left: 16px;
  text-decoration: none;
  border: none;
  padding: 6px;
}

.content {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}